.playerRank-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.imageContainer {
  margin-right: 30px;
}

.textContainer {
  display: flex;
  min-width: 3em;
  max-width: 3em;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
  font-size: calc(10px + .2vw);
}
