/* PlayersGrid.css */
.numberBox {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.numberBoxEven {
  background-color: #add9ff;
}

.numberBoxOdd {
  background-color: #76a6f5;
}

.numberBox h2 {
  font-family: "Sora", sans-serif;
  font-size: 30px; /* Default font size */
}

.numberBox h2.eliminated {
  color: black;
  font-size: 12px;
}

.paperStyle {
  display: flex;
  padding: 10px;
  color: black;
  flex: 1;
  align-items: center;
  height: 5em;
  font-family: "Sora", sans-serif;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paperStyleEven {
  background-color: #add9ff;
}

.paperStyleOdd {
  background-color: #76a6f5;
}

.logoStyle {
  margin-right: 10px;
  width: calc(20px + 1vw);
  height: calc(20px + 1vw);
}

.logoLink {
  margin-right: 10px;
}
